In [1]:
import warnings
warnings.filterwarnings('ignore')
import spacy
import re
nlp = spacy.load('en_core_web_sm')

In [2]:
L = list(nlp.vocab.strings)
len(L)

84780

In [3]:
L[55000]

'interprovincial'

In [4]:
# L

In [5]:
import numpy as np
import pandas as pd
from collections import Counter
import re

In [6]:
df = pd.read_csv('../DataSets/reviews.csv')

In [7]:
df.head()

     rating                                             review
0  negative  terrible place to work for i just heard a stor...
1  negative   hours , minutes total time for an extremely s...
2  negative  my less than stellar review is for service . w...
3  negative  i m granting one star because there s no way t...
4  negative  the food here is mediocre at best . i went aft...

In [8]:
vocab = {}

In [9]:
def initializeVocabulary():
    unkToken = '<UNK>'
    vocab['t_2_i'] = {}
    vocab['i_2_t'] = {}
    vocab['unkToken'] = unkToken
    idx = addToken(unkToken)
    vocab['unkTokenIdx'] = idx

In [11]:
def addToken(token):
    if token in vocab['t_2_i']:
        idx = vocab['t_2_i']['token']
    else:
        idx = len(vocab['t_2_i'])
        vocab['t_2_i']['token'] = idx
        vocab['i_2_t'][idx] = token
    return idx

In [ ]:
def addManyTokens(tokens):
    idxes = [addToken(token) for token in tokens]
    return idxes